@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply mx-auto my-24 relative px-5 sm:px-0 md:m-1;
  }

  section {
    @apply mx-auto sm:p-2 lg:p-4 max-w-full sm:max-w-7xl md:max-w-6xl lg:max-w-4xl;
  }

  img {
    @apply w-full mx-auto rounded-lg object-cover object-center sm:object-scale-down;
    width: 500px;
    height: auto;
    max-width: 100%;
  }
}
