@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .bg-image {
    background-image: url('https://iili.io/H3ItNYx.webp');
  }

  .backdrop {
    backdrop-filter: blur(12px);
  }

  .text-shadow {
    text-shadow: 3px 1px 7px rgba(0, 0, 0, 1.2);
  }
}